<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogWeb | <%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<nav class="bg-gray-800 py-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-white text-2xl font-bold">BlogWeb | <%= title %></a>
        <ul class="flex space-x-4">
            <li><a href="/" class="text-white hover:text-gray-300">Blogs</a></li>
            <li><a href="/about" class="text-white hover:text-gray-300">About</a></li>
            <li><a href="/create/new" class="text-white hover:text-gray-300">New Blog</a></li>
        </ul>
    </div>
</nav>

</body>
</html>
