<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Web | <%= title %>
    </title>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>

<body>
    <%- include('./partials/nav.ejs') %>



        <div class="container mx-auto px-4 py-8">

            <div class="about-content bg-white shadow-md rounded-lg p-8 mt-8">
                <h2 class="text-3xl font-semibold mb-4">About Content</h2>
                <p class="text-gray-700">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid qui impedit quae, dolorem ab
                    officiis sed esse, nulla tempora, quisquam mollitia officia sit voluptatibus.
                </p>
            </div>

        </div>


</body>

</html>